{% extends 'main.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .home_container
        {
            display: grid;
            grid-template-columns: 1fr 3fr 1fr;
        }
    </style>
</head>
<body>
    <hr>
    <div class="home_container">
        <div>
            <h3>Browse Blogs Topics</h3>
            <hr>
            <div>
                <a href="{% url 'homepage' %}">All</a>
            </div>
            {% for topic in topics %}
            <div>
                <a href="{% url 'homepage' %}?q={{topic.name}}">{{topic.name}}</a>
            </div>
            {% endfor %}
        </div>
        <div>
            <h5>{{chamber_count}} Chambers Available</h5>
        <a href="{% url 'create-chamber' %}">Create Chamber</a>
        <div>
            {% for chamber in chambers %}
            <div>
                {% if request.user == chamber.host %}
                <a href="{% url 'update-chamber' chamber.id %}">Edit</a>
                <a href="{% url 'delete-chamber' chamber.id %}">Delete</a>
                {% endif %}
                <span>@{{chamber.host.username}}</span>
                <h5>{{chamber.id}} -- <a href="{% url 'chamber' chamber.id %}">{{chamber.name}}</h5></a>
                <small>{{chamber.topic.name}}</small>

                <hr>
            </div>
            {% endfor %}
            </div>
        </div>
        <div>
           <h3>Blogs Reactions</h3>
           <hr>
           {% for reaction in chamber_reactions %}
                <div>
                    <small>@{{reaction.user}} {{reaction.created|timesince}}</small>
                    <small>replied to "{{reaction.chamber}}"</small>
                    <p>{{reaction}}</p>
                </div>
           {% endfor %}
        </div>
    </div>
</body>
</html>
{% endblock %}
