{% extends 'main.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Home page template</h1>
    <div>
        <div>
            {% for chamber in chambers %}
            <div>
                <h5>{{chamber.id}} -- <a href="{% url 'chamber' chamber.id %}">{{chamber.name}}</h5></a>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
{% endblock %}
